body {
  background-color: white;
}

.globalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0 auto;
  max-width: 80vw;
  width: fit-content;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #b0bec5;
  padding: 20px;
}

.divider {
  position: relative;
  width: 80%;
  height: 1px;
  background-color: #b0bec5;
}

@media (min-width: 576px) {
  .globalContainer {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .globalContainer {
    flex-direction: row;
    max-width: 90vw;
  }

  .divider {
    position: relative;
    height: 180px;
    width: 1px;
    background-color: #b0bec5;
  }
}
